
crcsas:
  username: ${CRCSAS_API_USR}
  password: ${CRCSAS_API_PWD}

cdsapi:
  url: ${CopernicusCDS_API_URL}
  key: ${CopernicusCDS_API_KEY}

# OBS:
# Para utilizar la API del CDS, no es necesario crear el archivo .cdsapirc.
# Esto porque en helpers.py se extendió la clase cdsapi.Client para contemplar
# esta situación, tomando las credenciales del archivo credentials.yaml.
